@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #eeeeee;
}

body.dark {
    background: black;
}

h1 {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
}

button {
    cursor: pointer;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}
  
.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(#204cc6, #03d1ff);
    transition: transform 0.25s ease-out;
    transform-origin: bottom right;
}
  
.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
